<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2 class="mb-5">Resultados</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Gênero</th>
            <th scope="col">Autor (a)</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'book-detail' livro.id %}">
                    {{ livro.nomeLivro }} </a></td>
            <td>{{ livro.generoLivro }}</td>
            <td>{{ livro.autor }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum livro encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>